html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-image: url("bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  justify-content: space-between;
}
.bg-light {
  background-color: #f8f9fa7a !important;
}

.card {
  min-height: 25px;
  min-width: 25px;
  margin: 10px;
  background-color: grey;
}
.player {
  font-size: x-large;
  border: 1px solid #0bd0b2;
  border-radius: 5px;
  padding: 10px;
  color: #178473;
}

.playerturn {
  background-color: #74e8df;
}
